RemittanceOperation/Service References/GCCServiceClient/GCCServiceClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GCCServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.32.63/GCC/GCCServiceClass.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.32.63/GCC/GCCServiceClass.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.32.63/GCC/GCCServiceClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GCCService.ResponseClasses" />
      <xsd:import schemaLocation="http://192.168.32.63/GCC/GCCServiceClass.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GCCService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGCCService_DisplayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTransaction" />
  </wsdl:message>
  <wsdl:message name="IGCCService_DisplayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IGCCService_PayTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:PayTransaction" />
  </wsdl:message>
  <wsdl:message name="IGCCService_PayTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IGCCService_BankDepositTxn_InputMessage">
    <wsdl:part name="parameters" element="tns:BankDepositTxn" />
  </wsdl:message>
  <wsdl:message name="IGCCService_BankDepositTxn_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankDepositTxnResponse" />
  </wsdl:message>
  <wsdl:message name="IGCCService_ProcessBankDepositTxn_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBankDepositTxn" />
  </wsdl:message>
  <wsdl:message name="IGCCService_ProcessBankDepositTxn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessBankDepositTxnResponse" />
  </wsdl:message>
  <wsdl:message name="IGCCService_UpdateBankDepositTxnToPaid_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankDepositTxnToPaid" />
  </wsdl:message>
  <wsdl:message name="IGCCService_UpdateBankDepositTxnToPaid_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBankDepositTxnToPaidResponse" />
  </wsdl:message>
  <wsdl:message name="IGCCService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IGCCService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IGCCService">
    <wsdl:operation name="DisplayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/DisplayTransaction" message="tns:IGCCService_DisplayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/DisplayTransactionResponse" message="tns:IGCCService_DisplayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/PayTransaction" message="tns:IGCCService_PayTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/PayTransactionResponse" message="tns:IGCCService_PayTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankDepositTxn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/BankDepositTxn" message="tns:IGCCService_BankDepositTxn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/BankDepositTxnResponse" message="tns:IGCCService_BankDepositTxn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessBankDepositTxn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/ProcessBankDepositTxn" message="tns:IGCCService_ProcessBankDepositTxn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/ProcessBankDepositTxnResponse" message="tns:IGCCService_ProcessBankDepositTxn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBankDepositTxnToPaid">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/UpdateBankDepositTxnToPaid" message="tns:IGCCService_UpdateBankDepositTxnToPaid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/UpdateBankDepositTxnToPaidResponse" message="tns:IGCCService_UpdateBankDepositTxnToPaid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IGCCService/GetDataUsingDataContract" message="tns:IGCCService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGCCService/GetDataUsingDataContractResponse" message="tns:IGCCService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGCCService" type="tns:IGCCService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayTransaction">
      <soap:operation soapAction="http://tempuri.org/IGCCService/DisplayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayTransaction">
      <soap:operation soapAction="http://tempuri.org/IGCCService/PayTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankDepositTxn">
      <soap:operation soapAction="http://tempuri.org/IGCCService/BankDepositTxn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessBankDepositTxn">
      <soap:operation soapAction="http://tempuri.org/IGCCService/ProcessBankDepositTxn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBankDepositTxnToPaid">
      <soap:operation soapAction="http://tempuri.org/IGCCService/UpdateBankDepositTxnToPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IGCCService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GCCServiceClass">
    <wsdl:port name="BasicHttpBinding_IGCCService" binding="tns:BasicHttpBinding_IGCCService">
      <soap:address location="http://192.168.32.63/GCC/GCCServiceClass.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>