RemittanceOperation/Service References/EzRemitServiceClient/EzRemitServiceClass43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.32.63/EzRemitLive/EzRemitServiceClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EzRemitService.ResponseClasses" />
  <xs:import schemaLocation="http://192.168.32.63/EzRemitLive/EzRemitServiceClass.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EzRemitService" />
  <xs:element name="CashReceivePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashReceivePaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EzRemitService.ResponseClasses" minOccurs="0" name="CashReceivePaymentResult" nillable="true" type="q1:CashTxnDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashPayout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SecurityNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BenficairyIDNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BenficairyTelno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BenficiaryIDType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CashPayoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EzRemitService.ResponseClasses" minOccurs="0" name="CashPayoutResult" nillable="true" type="q2:PayoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EzRemitService" minOccurs="0" name="composite" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EzRemitService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q4:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>