RemittanceOperation/Service References/ICTCServiceClient/ICTCServiceClass1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InstantCashService.ResponseClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InstantCashService.ResponseClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OutstandingRemittanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outstandingRemittanceList" nillable="true" type="tns:ArrayOfOutstandingRemits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutstandingRemittanceResponse" nillable="true" type="tns:OutstandingRemittanceResponse" />
  <xs:complexType name="ArrayOfOutstandingRemits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutstandingRemits" nillable="true" type="tns:OutstandingRemits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutstandingRemits" nillable="true" type="tns:ArrayOfOutstandingRemits" />
  <xs:complexType name="OutstandingRemits">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent_OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Account_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_TelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delivery_Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expected_BenefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICTC_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message_PayeeBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Originating_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayingAgent_CommShare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Agent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinSettlement_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose_Remit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_IDDtl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_IDType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settlement_Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_SentDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutstandingRemits" nillable="true" type="tns:OutstandingRemits" />
  <xs:complexType name="ConfirmTranResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Confirmed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICTC_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmTranResponse" nillable="true" type="tns:ConfirmTranResponse" />
  <xs:complexType name="IcPayStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent_OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extra_Flag1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICTC_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IcPayStatusResponse" nillable="true" type="tns:IcPayStatusResponse" />
  <xs:complexType name="CashTxnDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent_OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Account_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_TelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Delivery_Mode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expected_BenefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICTC_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message_PayeeBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Originating_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayingAgent_CommShare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Agent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinSettlement_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose_Remit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_IDDtl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_IDType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settlement_Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_SentDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashTxnDetails" nillable="true" type="tns:CashTxnDetails" />
  <xs:complexType name="UnlockTranResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnlockTranResponse" nillable="true" type="tns:UnlockTranResponse" />
  <xs:complexType name="ReconcileResponses">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionList" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReconcileResponses" nillable="true" type="tns:ReconcileResponses" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_Exchange_Earning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_OrderNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_Share" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agent_UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Account_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bank_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Beneficiary_TelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_Princ_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expected_BenefID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FC_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICTC_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IC_Exchange_Earning" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message_PayeeBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Originating_Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paying_Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perc_Refund_Comm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Purpose_Remit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiving_Agent_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiving_Agent_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_IDDtl1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_ID_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remitter_TelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settlement_Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settlement_Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Commission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trans_CancelDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trans_CancelTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Status_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Transaction_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>