RemittanceOperation/Service References/ICTCServiceClient/ICTCServiceClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ICTCServiceClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.32.63/ICTC/ICTCServiceClass.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.32.63/ICTC/ICTCServiceClass.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.32.63/ICTC/ICTCServiceClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InstantCashService" />
      <xsd:import schemaLocation="http://192.168.32.63/ICTC/ICTCServiceClass.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InstantCashService.ResponseClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTCService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICTCService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_DownloadAcTxnResult_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadAcTxnResult" />
  </wsdl:message>
  <wsdl:message name="ICTCService_DownloadAcTxnResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadAcTxnResultResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ConfirmTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTransaction" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ConfirmTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_GetIctcStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIctcStatus" />
  </wsdl:message>
  <wsdl:message name="ICTCService_GetIctcStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIctcStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ReceivePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePayment" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ReceivePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceivePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_UnlockTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockTransaction" />
  </wsdl:message>
  <wsdl:message name="ICTCService_UnlockTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ReconcileTxn_InputMessage">
    <wsdl:part name="parameters" element="tns:ReconcileTxn" />
  </wsdl:message>
  <wsdl:message name="ICTCService_ReconcileTxn_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReconcileTxnResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTCService">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/GetDataUsingDataContract" message="tns:ICTCService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/GetDataUsingDataContractResponse" message="tns:ICTCService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadAcTxnResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/DownloadAcTxnResult" message="tns:ICTCService_DownloadAcTxnResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/DownloadAcTxnResultResponse" message="tns:ICTCService_DownloadAcTxnResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/ConfirmTransaction" message="tns:ICTCService_ConfirmTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/ConfirmTransactionResponse" message="tns:ICTCService_ConfirmTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIctcStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/GetIctcStatus" message="tns:ICTCService_GetIctcStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/GetIctcStatusResponse" message="tns:ICTCService_GetIctcStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceivePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/ReceivePayment" message="tns:ICTCService_ReceivePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/ReceivePaymentResponse" message="tns:ICTCService_ReceivePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/UnlockTransaction" message="tns:ICTCService_UnlockTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/UnlockTransactionResponse" message="tns:ICTCService_UnlockTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReconcileTxn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTCService/ReconcileTxn" message="tns:ICTCService_ReconcileTxn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTCService/ReconcileTxnResponse" message="tns:ICTCService_ReconcileTxn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTCService" type="tns:ICTCService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICTCService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadAcTxnResult">
      <soap:operation soapAction="http://tempuri.org/ICTCService/DownloadAcTxnResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTransaction">
      <soap:operation soapAction="http://tempuri.org/ICTCService/ConfirmTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIctcStatus">
      <soap:operation soapAction="http://tempuri.org/ICTCService/GetIctcStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePayment">
      <soap:operation soapAction="http://tempuri.org/ICTCService/ReceivePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockTransaction">
      <soap:operation soapAction="http://tempuri.org/ICTCService/UnlockTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReconcileTxn">
      <soap:operation soapAction="http://tempuri.org/ICTCService/ReconcileTxn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ICTCServiceClass">
    <wsdl:port name="BasicHttpBinding_ICTCService" binding="tns:BasicHttpBinding_ICTCService">
      <soap:address location="http://192.168.32.63/ICTC/ICTCServiceClass.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>